/* src/styles/LoginPage.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/login.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    background-position: center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
  }
  
  .login-logo {
    width: 114px; /* Ancho del logo */
    height: 132px; /* Altura del logo */
    margin-bottom: 20px; /* Espacio debajo del logo */
  }
  .login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white; /* Ajustar el color del texto si es necesario */
  }
  
  .input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    width: 326px;
    height: 58px;
    background-color: #04090d;
    color: white;
    border: none;
    border-radius: 29px; /* Mitad de la altura para bordes redondeados */
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Para que el texto aparezca en mayúsculas */
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 16px; /* Espacio entre los botones */
  }
  
.tituloibi{
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    color: white;
}
.subibi{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
}
